td {
	display:block;
	margin: 0 auto;
	width: 95%;
	font-family: Avenir;
	font-size: 20px;
	padding: 2%;
}

img{
	margin:5%;
	width: 90%;
}
tr{
	position: absolute;
	width: 30%;
	background: white;
	border-radius: 6px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	text-align: center;
	-webkit-transition: -webkit-transform 1s;
}
/*tr:nth-of-type(2){
	padding-bottom: 1%;
}
tr:nth-of-type(1){
	padding-bottom: 2%;
}*/

table{
	display: block;
	margin: 0 auto;
	margin-top: 0%;
	width: 30%;
}
body{
background: #e6e6e6;
}


.buttonContainer{
	display: block;
	width: 30%;
	margin: 40% auto 0 auto;
	padding-left: 10%;
}

.buttonContainer img{
	width: 25%;
}

.stars{
	width: 40%;
	margin-top: -15%;
}

.turnRight{
	-webkit-transform :rotate(20deg) ;
}
.turnLeft{
	-webkit-transform :rotate(-20deg) ;
}
.moveLeft{
	-webkit-transform :translate(-2550px,0px);
}
.moveRight{
	-webkit-transform :translate(2550px,0px);
}
p,h1,h2{
	font-family: Avenir;
	text-align: center;
	margin: 0;
}

 @media screen and ( max-width: 1100px ){
         
         	table,tr {
         		width: 65%;
         	}
         	.buttonContainer{
         		margin-top: 90%;
         		width: 50%;
         		padding-left: 15%;
         	}
        }

